/bootstrap/compiled.php
/vendor
/node_modules
/bower_components

/public/fonts
/public/js
/public/css
/public/error_log
/public/views
/public/img/*.png
/public/templates
/assets/obj

latest.tar.gz
/wordpress
composer.phar
composer.lock
public/*.min.js
.env.*.php
*.swp
.env.php
.DS_Store
Thumbs.db
/js.old
/css.old
.sass-cache
.ruby-version
