body
  font-family: 'playfair_displayregular'
  font-weight: normal
  color: $dark-grey

a
  +transition(color 500ms ease)
  text-decoration: none
  color: $link-color

  &:hover
    color: darken($link-color, 10)

.bold
  font-family: 'playfair_displaybold'

.scblack
  font-family: 'playfair_display_scblack'

.scbold
  font-family: 'playfair_display_scbold'

.black
  font-family: 'playfair_displayblack'
