doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title(d-title)
    link(href='/vendor/devicons/css/devicons.css' rel='stylesheet')
    link(href='/vendor/ionicons/css/ionicons.css' rel='stylesheet')
    link(href='/vendor/zocial/css/zocial.css' rel='stylesheet')
    link(href='/css/app.css' rel='stylesheet')
  body
    .header(d-header)
    .view(ng-view)
    script(type="text/javascript" src="http://fast.fonts.net/jsapi/80ee558c-0da1-49dc-9fa4-8fdb24c9e5bf.js")
    if release
      script(src="/js/app.min.js" type="text/javascript")
    else
      script(src="/js/app.js" type="text/javascript")
