.content.project(djh-scroll-fader)
  .image-slider
    .thumb(ng-repeat="thumb in item.thumbs", style="background-image:url({{ thumb }})")
  .info.cf
    .title
      h2.f-bold {= item.post_title =}

    .cf
      .f.description
        .inner
          p(ng-bind-html="safe()")
          a.preview_link.b-grad(href="{= item.link =}", title="", ng-show="item.live") see it

      .f.toolchain
        .inner
          dl(ng-hide="!item.framework")
            d.f-bold Framework
            dd
              p {= item.framework =}
          dl(ng-hide="!item.languages")
            dt.f-bold" Languages
            dd
              ul.cf
                li.f(ng-repeat="language in item.languages")
                  p {= language =}

          dl(ng-hide="!item.apis")
            dt.f-bold Apis
            dd
              ul.cf
                li.f(ng-repeat="api in item.apis")
                  p {= api =}

          dl.tools(ng-hide="!item.tools")
            dt.f-bold Tools
            dd
              ul.cf
                li(ng-repeat="tool in item.tools")
                  p {= tool =}
